.center{width: 100%;background: #f0f0f0;position: absolute;top: 0;bottom: 0;left: 0;overflow: scroll;}
.edit_pic{width: 100%;height: 350rpx;position: absolute;background: white;}
.pic_el{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: auto;height: auto;}
.pic_el image{width: 150rpx;height: 150rpx;border-radius: 50%;position: absolute;left: 50%;transform: translateX(-50%);}
.pic_el view{font-size: 0.8rem;margin-top: 160rpx;}
.edit_form{width: 100%;height: auto;overflow: hidden;margin-top: 370rpx;background: white;}
.form_el{width: 90%;height: 100rpx;border-bottom: 1px solid #EAEAEA;margin: 0 5%;line-height: 100rpx;font-size: 0.8rem;}
.form_el text{float: left;font-weight: bold;}
.form_el input{width: 70%;float: left;height: 100%;}
.form_el picker{width: 70%;float: left;height: 100%;}
.sure{width: 100%;height: auto;overflow: hidden;padding: 40rpx 0;box-sizing: border-box;}
.sure view{width: 30%;font-size: 0.8rem;font-weight: bold;color: white;background: red;border-radius: 10rpx;margin-left: 35%;text-align: center;padding: 20rpx 0;}

.datails_pic{width: 100%;height: auto;overflow: hidden;background: white;margin: 20rpx 0;padding: 30rpx;box-sizing: border-box;}
.pic_title{font-size: 0.9rem;width: 100%;margin-bottom: 20rpx;font-weight: bold;}
.datails_sub{width: 190rpx;height: 190rpx;margin: 20rpx;float: left;}
.datails_sub image{width: 100%;height: 100%;}