.voucher_title{width: 100%;height: 100rpx;padding: 0 2.5%;box-sizing: border-box;border-bottom: 1px solid #EAEAEA;background: white;}
.voucher_title view{width: 33%;float: left;height: 100%;text-align: center;line-height: 100rpx;}
.voucher_title view text{font-size: 0.8rem;font-weight: bold;padding: 20rpx 0;}
.active{color: #eb6100;border-bottom: 2px solid #eb6100;}
.myreg_box{width: 100%;padding: 40rpx;box-sizing: border-box;background: white;height: auto;overflow: hidden;margin-bottom: 20rpx;}
.myreg_le{width: 35%;height: auto;overflow: hidden;float: left;}
.myreg_le image{width: 200rpx;height: 200rpx;}
.myreg_ri{width: 65%;float: right;height: auto;overflow: hidden;}
.text_list{width: 100%;height: 50rpx;overflow: hidden;display: flex;justify-content: left;box-sizing: border-box;}
.text_list>view{width: auto;font-size: 0.8rem;height: 100%;overflow: hidden;line-height: 50rpx;}
.text_list>view text{background: #000000;color: white;border-radius: 10rpx;display: block;float: left;padding: 0 5rpx;margin: 0 5rpx;font-size: 0.6rem;text-align: center;}
.text_list>view:nth-of-type(1){float: left;max-width: 50%;height: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #eb6100;font-weight: bold;}
.text_list>view:nth-of-type(2){float: right;width: auto;height: 100%;}
.text_list>view view{width: auto;float: left;}
.text_el{width: 100%;font-size: 0.7rem;padding: 15rpx 0;box-sizing: border-box;}
.myreg_pic{width: 100%;height: auto;overflow: hidden;}
.pic_list{width: 65%;float: left;height: 80rpx;}
.pic_list image{width: 80rpx;height: 100%;border-radius: 50%;float: left;margin: 0 5rpx;}
.pic_btn{font-size: 0.7rem;color: white;background: #eb6100;border-radius: 20rpx;padding: 10rpx 20rpx;box-sizing: border-box;float: left;margin: 15rpx 0;}

.dining_title{width: 100%;height: auto;overflow: hidden;padding: 40rpx;box-sizing: border-box;background: white;}
.dining_pic{width: 30%;float: left;height: 200rpx;}
.dining_pic image{width: 200rpx;height: 100%;}
.dining_text{width: 70%;height: 200rpx;border-radius: 10rpx;float: left;padding: 0 20rpx;box-sizing: border-box;}
.dining_text>view{margin-bottom: 10rpx;}
.text_one{font-size: 0.9rem;font-weight: bold;}
.text_two{color: #666666;font-size: 0.7rem;}
.text_three text{font-size: 0.8rem;}
.text_three text:nth-of-type(1){background: red;color: white;padding: 5rpx 10rpx;box-sizing: border-box;margin-right: 20rpx;border-radius: 10rpx;}
.text_four{width: 100%;height: 50rpx;overflow: hidden;display: flex;justify-content: left;box-sizing: border-box;}
.text_four>view{width: auto;font-size: 0.8rem;height: 100%;overflow: hidden;line-height: 50rpx;}
.text_four>view text{background: #000000;color: white;border-radius: 10rpx;display: block;float: left;padding: 0 10rpx;margin: 0 10rpx;height: 100%;line-height: 50rpx;font-size: 0.6rem;}
.text_four>view view{float: left;width: auto;height: 100%;}
.dining_ment{width: 100%;position: fixed;bottom: 0;height: 120rpx;font-size: 0.8rem;line-height: 120rpx;background:white;}
.dining_ment view:nth-of-type(1){padding: 0 40rpx;box-sizing: border-box;width: 70%;float: left;color:red;font-weight:bold;font-size: 0.9rem;}
.dining_ment view:nth-of-type(2){text-align: center;float: right;width: 30%;float: right;background: #ee7d42;color: white;}
.dining_rule{width:90%;margin: 0 5%;background: white;border-radius: 10rpx;height: auto;overflow: hidden;padding: 20rpx;box-sizing: border-box;}
.dining_rule view:nth-of-type(1){font-size: 0.9rem;font-weight: bold;margin-bottom: 20rpx;}
.dining_rule view:nth-of-type(2){font-size: 0.7rem;color: #666666;word-wrap: break-word;word-break: normal;}
.text_five{font-size: 0.7rem;color: #666666;}
.defect{width: 100%;height: auto;overflow: hidden;}
.defect image{width: 300rpx;height: 300rpx;margin: 100rpx auto 40rpx auto;display: block;}
.defect text{display: block;font-size: 0.9rem;color: #868686;text-align: center;width: 100%;font-weight: bold;}