.banner_img{width: 100%;height: auto;overflow: hidden;background: white;}
.swiper{height: 400rpx;}
.swiper image{width: 100%;height: 400rpx;}
.benner_search{width: 80%;height: 80rpx;border-radius: 30rpx;overflow: hidden;position: absolute;left: 10%;top: 40rpx;font-size: 0.8rem;z-index: 999;}
.benner_search input{width: 75%;float: left;height: 100%;line-height: 80rpx;padding: 0 20rpx;box-sizing: border-box;background: rgba(225,225,225,0.5);color: #666666;}
.search{width: 25%;float: right;background: #eb6100;height: 100%;display: flex;justify-content: center;}
.search image{width: 50rpx;height: 50rpx;margin: 15rpx 10rpx 15rpx 0;}
.search text{display: block;width: auto;height: 100%;line-height: 80rpx;color: white;}
.benner_title{width: 100%;height: auto;font-size: 0.8rem;padding: 40rpx 2.5%;box-sizing: border-box;overflow: hidden;background: white;}
.benner_title view:nth-of-type(1){float: left;}
.benner_title view:nth-of-type(2){float: right;}
.benner_title image{width: 35rpx;height: 35rpx;margin: -3rpx 5rpx ;}
.soon_swiper{background: white;border-bottom: 1px solid #EAEAEA;height: auto;overflow: hidden;padding-bottom: 20rpx;box-sizing: border-box;}
.swiper1{height: 350rpx;overflow: hidden;}
.item_el{margin: 0 10%;width: 80%;height: 100%;}
.item_el image{height: 70%;width: 100%;}
.item_el view{font-size: 0.8rem;}
.item_el view:nth-of-type(1){color: #eb6100;}
.item_el view:nth-of-type(2){font-weight: 400;}
.film_list{width: 100%;height: auto;overflow: hidden;padding: 40rpx 2.5%;box-sizing: border-box;background: white;border-bottom: 1px solid #EAEAEA;margin-top: 20rpx;}
.list_el{width: 100%;height: auto;overflow: hidden;margin-bottom: 20rpx;}
.list_el text:nth-of-type(1){float: left;font-size: 0.9rem;font-weight: bold;}
.list_el text:nth-of-type(2){float: right;font-size: 0.8rem;color: #666666;}
.list_icon{width: 100%;font-size: 0.8rem;}
.film_list:last-child{border-bottom: none;}