.evaluat_box{width: 100%;padding: 40rpx 5%;height: auto;overflow: hidden;box-sizing: border-box;}
.evaluat_box view{width: 100%;font-size: 1.1rem;padding: 10rpx;box-sizing: border-box;text-align: center;overflow: hidden;height: auto;}
.evaluat_box view image{width: 100rpx;height: 100rpx;float: left;padding: 0 15rpx;}
.evaluat_one{width: 100%;padding: 20rpx 5%;height: auto;overflow: hidden;box-sizing: border-box;display: flex;}
.evaluat_one text{font-size: 1.1rem;}
.evaluat_one text:nth-of-type(2){color: #666666;}
.evaluat_one image{width: 60rpx;height: 60rpx;padding: 0 20rpx;float: left;}
.input_el{width: 100%;height: auto;overflow: hidden;}
.input_el textarea{width: 90%;height: 300rpx;background: #F0F0F0;margin: 40rpx 5%;padding: 30rpx;box-sizing: border-box;font-size: 0.8rem;}
.btn_list{width: 90%;font-size: 0.8rem;text-align: center;padding: 30rpx 0;box-sizing: border-box;margin: 0 5%;background: #EB6100;color: white;border-radius: 10rpx;}
