.box_view{position: absolute;top: 0;bottom: 0;left: 0%;right: 0;background: #eee;font-family: '微软雅黑';overflow: hidden}
.header_title{width: 100%;height: 70px;padding: 15px;float: left;background: white;border-bottom: 1px solid #eee;line-height: 50px;position: fixed;top: 0;left: 0;z-index: 999;}
.header_title image{width: 30px;height: 30px;float: left;margin-top: 10px;}
.header_title text{font-size: 1rem;margin-left: 20rpx;float: left;}
.cart_list{width: 100%;padding-bottom: 20px;height: auto;overflow: scroll;}

.cart_title{width: 100%;height: auto;overflow: hidden;padding: 30rpx;border-bottom: 1px solid #eee;background: white;position: absolute;box-sizing: border-box;}
.title_left{height: 50px;font-size: 0.6rem;width: auto;float: left;line-height: 50px;color: #666666;}
.title_left text{padding: 0 10rpx;}
.title_right{height: 30px;font-size: 0.8rem;width: 40%;float: left;line-height: 30px}
.title_right text{padding: 0 20rpx;font-size: 1rem;color: red}
.delete{width: 20%;float: right;height: 30px;background: rgb(219, 24, 24);font-size: 0.7rem;color: white;border-radius: 10rpx;}
.delete image{width: 15px;height: 15px;margin-top: 8px;float: left;text-align: right;margin-left: 15%;}
.delete text{display: block;width: auto;height: 15px;margin-top: 8px;float: left;margin-left: 2px;}

.list_view{width: 90%;height: auto;overflow: hidden;margin-left: 5%;background: white;border-radius: 20rpx;margin-top: 40rpx;}
.shop_name{font-size: 0.8rem;font-weight: bold;padding: 20rpx 60rpx;width: 80%;float: left;box-sizing: border-box;}
.shop_name text{margin-left: 20rpx;}
.radio_group{display: block;float: left;width: 40rpx;height: 40rpx;}
.shop_couent{width: 90%;height: 130px;margin-left: 5%;}
.couent_pic{width: 50%;height: 100%;float: left}
.couent_pic image{padding: 20rpx;width: 100px;height: 100px;}
.text_el{width: 50%;height: 100%;float: left;}
.text_el textarea{width: 100%;max-height: 70rpx;font-size: 0.8rem;padding-top: 30rpx;color: black;overflow: hidden;}
.centitel{width: 100%;font-size: 1rem;color: #ff0000;margin-top: 20rpx;}

.numerical{margin: 0 10rpx;font-weight: bold}
button:active{ background:none !important;}
.mymoney{font-size: 0.7rem;color: #666666;display: flex;}
.mymoney text{width: auto;}
.mymoney text:nth-of-type(2){margin-left: 10rpx;}
.shop_price{width: 100%;height: 50px;background: white;position: absolute;bottom: 0px;z-index: 999;border-top: 1px solid #d6d5d5e1}
.radio_box{height: 30px;margin-top: 10px;width: 20%;float: left;line-height: 30px;margin-left: 40rpx;}
.radio_box text{font-size: 0.8rem}
.radio_box image{padding: 7px;}
.empty{width: 40rpx;height: 40rpx;float: right;padding: 20rpx 40rpx;}

.user_com{width: 100%;height: auto;overflow: hidden;background: white;display: flex;}
.user_com view{float: left;font-size: 0.8rem;padding: 40rpx 20rpx;margin: 0 auto;}
.actives{border-bottom: 2px solid #eb6100;}
.btn_list{width: auto;height: 100%;float: right;}
.btn_list  view{width: 100rpx;height: 100%;float: left;margin-right: 20rpx;}
.btn_list view image{width: 40rpx;height: 40rpx;margin: 0 auto;margin: 10rpx 30rpx 0 30rpx;}
.btn_list view text{font-size: 0.7rem;display: block;width: 100%;text-align: center;color: #eb6100;}