.map_box{width: 100%;height: 100%;overflow: hidden;}
.search{width: 90%;height: 100rpx;border-radius: 10rpx;background: white;z-index: 99;position: absolute;top: 40rpx;left: 5%;}
.search cover-input{width: 80%;height: 60rpx;line-height: 60rpx;box-sizing: border-box;font-size: 0.8rem;margin: 20rpx 0;float: left;}
.search cover-view{width: 20%;float: right;height: 60rpx;line-height: 60rpx;text-align: center;margin: 20rpx 0;border-left:1px solid #EAEAEA;box-sizing: border-box;font-size: 0.8rem;color: #666666;} 
.box_view{position: absolute;top: 0;bottom: 0;width: 100%;}
.center_el{width: 100%;height: auto;overflow: hidden;border-top: 1ppx solid #EAEAEA;position: absolute;bottom: 0;left: 0;background: white;z-index: 999;padding: 40rpx 5%;box-sizing: border-box;}
.center_le{width: 80%;float: left;height: auto;overflow: hidden;}
.left_el{width: 100%;font-size: 0.9rem;font-weight: bold;margin-bottom: 20rpx;box-sizing: border-box;}
.left_list{width: 100%;font-size: 0.7rem;height: auto;overflow: hidden;}
.left_list cover-view{margin-right: 20rpx;width: auto;float: left;}
.center_ri{width: 20%;float: left;height: auto;overflow: hidden;}
.center_ri cover-image{width: 100rpx;height: 100rpx;}