.recharge_box{width: 90%;height: auto;overflow: hidden;background: white;border-radius: 20rpx;margin: 10% 5%;}
.box_llist{width: 90%;height: auto;overflow: hidden;margin: 0 5%;}
.recharge_al{width: 100%;font-size: 0.9rem;background: #fdfdfd;padding: 40rpx 0;box-sizing: border-box;}
.recharge_al text:nth-of-type(1){font-weight: bold;margin-right: 40rpx;}
.recharge_bl{font-size: 0.9rem;font-weight: bold;padding-top: 40rpx;box-sizing: border-box;}
.recharge_cl{width: 100%;height: 120rpx;line-height: 120rpx;overflow: hidden;border-bottom: 1px solid #EAEAEA;}
.recharge_cl text{font-size: 1.4rem;display: block;width: 10%;float: left;line-height: 120rpx;}
.recharge_cl input{width: 90%;float: left;font-size: 1.4rem;height: 100%;line-height: 120rpx;padding: 20rpx 0;box-sizing: border-box;}
.recharge_el{font-size: 0.8rem;color: #666666;padding: 20rpx 0;box-sizing: border-box;}
.recharge_el text:nth-of-type(2){color: #4f616b;font-weight: 400;}
.recharge_ql{width: 100%;font-size: 0.8rem;color: white;background: #EB6100;padding: 30rpx 0;box-sizing: border-box;text-align: center;border-radius: 20rpx;margin: 40rpx 0;}