.post_cent,.whole{width: 100%;height: auto;overflow: hidden;padding: 40rpx 5%;background: white;box-sizing: border-box;}
.whole_title{font-size: 1rem;}
.post_titile{width: 100%;height: auto;overflow: hidden;}
.post_titile>image{width: 100rpx;height: 100rpx;float: left;border-radius: 50%;margin: 15rpx 0;}
.post_new{width: 85%;float: right;height: 130rpx;box-sizing: border-box;padding: 25rpx 15rpx;box-sizing: border-box;}
.post_new>view{display: block;width: 100%;height: auto;overflow: hidden;}
.new_le view{width: auto;float: left;}
.new_le view:nth-of-type(1){font-size: 0.8rem;}
.new_le view:nth-of-type(2) image{width: 30rpx;height: 30rpx;margin-top: 10rpx;margin-left: 20rpx;}
.new_le image{width: 30rpx;height: 30rpx;float: right;margin-top: 10rpx;}
.new_ri{width: 100%;font-size: 0.7rem;color: #707070;}
.center_box{width: 100%;height: auto;overflow: hidden;}
.center_el{width: 100%;height: auto;overflow: hidden;box-sizing: border-box;font-size: 0.8rem;clear: both;}
.center_box view:nth-of-type(2){font-size: 0.8rem;color: #ed6a04;}

.image_box{width: 100%;height: auto;overflow: hidden;}
.image_el{width: 33%;height: auto;overflow: hidden;float: left;margin: 20rpx 0 0 0;}
.image_el image{width: 200rpx;height: 200rpx;}
.icon_lcoation{width: 100%;height: auto;overflow: hidden;font-size: 0.8rem;color: #666666;padding: 0 10rpx;box-sizing: border-box;margin: 20rpx 0;}
.icon_lcoation image{width: 30rpx;height: 30rpx;margin-right: 20rpx;float: left;margin: 5rpx 0;}
.icon_lcoation view{width: auto;float: left;}
.comment{width: 100%;height: auto;overflow: hidden;font-size: 0.8rem;}
.comment_le{width: auto;float: left;}
.comment_ri{float: right;width: auto;}
.comment_ri view{margin: 0 10rpx;height: auto;overflow: hidden;float: left;width: auto;position: relative;}
.comment_ri view image{width: 40rpx;height: 40rpx;display: block;float: left;margin-right: 5rpx;}
.comment_ri text{float: left;color: #707070;}
.comment_ri button{position: absolute;top: 0;width: 100%;left: 0;height: 100%;border: none;outline: none;background: none;border: none;}
button::after{border: none;}
.whole{margin-top: 40rpx;}
.thumbs{font-size: 0.8rem;float: right !important;}
.thumbs image{width: 40rpx;height: 40rpx;margin: 0;}
.reply_input{width: 100%;position: fixed;bottom: 0rpx;height: 120rpx;padding: 20rpx 40rpx;box-sizing: border-box;background: white;z-index: 999;border-top: 1px solid #EAEAEA;}
.reply_le{width: 55%;float: left;height: 100%;}
.reply_le input{width: 100%;height: 100%;font-size: 0.8rem;background: #f2f2f2;border-radius: 20rpx;padding: 0 15rpx;box-sizing: border-box;}
.reply_ri{width: 45%;float: right;box-sizing: border-box;height: 100%;}
.reply_ri text{font-size: 0.8rem;display: block;height: 80rpx;line-height: 80rpx;float: left;margin: 0 0 0 30rpx;}
.reply_ri image{width: 40rpx;height: 40rpx;float: left;margin: 20rpx 0 20rpx 30rpx;display: block;}