.center{width: 100%;background: #f0f0f0;position: absolute;top: 0;bottom: 0;left: 0;overflow: scroll;}
.adver_unp{width: 100%;height: auto;overflow: hidden;background: white;padding: 0 5%;box-sizing: border-box;margin-bottom: 20rpx;}
.adver_title{font-size: 0.9rem;font-weight: bold;padding: 40rpx 0;box-sizing: border-box;}
.adver_title text:nth-of-type(2){font-size: 0.7rem;color: #666666;margin-left: 10rpx;}
.uni-list{width: 100%;height: auto;overflow: hidden;}
.uni-list label{width: 33%;height: auto;float: left;padding-bottom: 40rpx;box-sizing: border-box;height: auto;overflow: hidden;}
.uni-list label view{width: auto;float: left;font-size: 0.8rem;}
.radio_pic{width: 40rpx !important;height: 40rpx;margin: 0 10rpx 0 0;}
.radio_pic radio{width: 100%;height: 100%;transform: scale(0.7);}
.radio_text{height: 40rpx;line-height: 40rpx;float: left;margin: 5rpx 10rpx;}
.datails_sub{width: 160rpx;height: 160rpx;margin: 0 20rpx 20rpx 20rpx;float: left;}
.datails_sub image{width: 100%;height: 100%;}
.uni-calendar-item--checked.data-v-5234bb1e {
	background-color: red !important;
}
.uni-calendar-item--multiple.data-v-5234bb1e{
	background-color: red !important;
}
.uni-calendar-item--isDay.data-v-5234bb1e{
	background-color: red !important;
}
