.follow_box{width: 90%;height: auto;overflow: hidden;margin: 0 5%;}
.post_titile{width: 100%;height: auto;overflow: hidden;border-bottom: 1px solid #EAEAEA;}
.post_titile>image{width: 100rpx;height: 100rpx;float: left;border-radius: 50%;margin: 15rpx 0;}
.post_new{width: 85%;float: right;height: 130rpx;box-sizing: border-box;padding: 0 15rpx;box-sizing: border-box;}
.new_le{width: 70%;float: left;height: auto;margin: 20rpx 0;}
.new_le view{width: 100%;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.new_le view:nth-of-type(1){font-size: 0.9rem;font-weight: bold;}
.new_le view:nth-of-type(2){font-size: 0.7rem;color: #666666;}
.new_ri{font-size: 0.8rem;padding: 10rpx 20rpx;box-sizing: border-box;border: 1px solid #EAEAEA;border-radius: 20rpx;float: right;margin: 28rpx 0;}
.ritive{color: red;border: 1px solid red;box-sizing: border-box;}