.move_list{position: absolute;top: 0;bottom: 0;width: 100%;overflow: hidden;}
.move_list image{width: 100%;height: 100%;}
.merch_box{position: absolute;top: 0;bottom: 0;width: 100%;overflow: hidden;background: rgba(250,151,15,0.5);}
.merch_center{position: absolute;bottom: 0;width: 100%;}
.introduce{width: 95%;height: auto;overflow: hidden;background: white;margin: 0 2.5%;border-radius: 10rpx;box-shadow: 0 10rpx 10rpx #EAEAEA;z-index: 999;position: absolute;top: 0;}
.introduce_el image{width: 30rpx;height: 30rpx;margin-right: 10rpx;margin-top: 25rpx;display: block;float: left;}
.introduce_el{width: 100%;font-size: 0.7rem;color: #707070;padding: 0rpx 40rpx;box-sizing: border-box;height: 80rpx;line-height: 80rpx;}
.introduce_el view:nth-of-type(1){font-size: 0.9rem;color: #000000;font: bold;float: left;max-width: 70%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.introduce_el view:nth-of-type(2){float: right;}
.introduce_ol{width: 100%;font-size: 0.7rem;color: #707070;padding: 0rpx 40rpx;box-sizing: border-box;height: 40rpx;line-height: 40rpx;}
.introduce_ol .latitude >image{width: 20rpx;height: 20rpx;float: left;margin-right: 5rpx;margin-top: 10rpx;}
.introduce_ol text{margin-left: 10rpx;}
.introduce_ol view{float: right;}
.introduce_ol .count_img >image{width: 40rpx;height: 40rpx;margin-left: 20rpx;}
.latitude{width: auto;overflow: hidden;float: left !important;}
.center_list{position: absolute;overflow: hidden;top: 60rpx;width: 100%;background: white;bottom: 0;}
.list_el{width: 100%;height: 80rpx;margin-top: 100rpx;padding: 0 5%;box-sizing: border-box;}
.details_el{width: 80%;float: left;height: 100%;}
.details_el view{line-height: 80rpx;height: auto;width: 33%;text-align: center;font-size: 0.8rem;float: left;overflow: hidden;}
.collect{width: 20%;height: 100%;float: right;box-sizing: border-box;border-left: 1px solid #666666;text-align: center;}
.collect image{width: 40rpx;height: 40rpx;}
.collect text{display: block;font-size: 0.8rem;width: 100%;height: 40rpx;text-align: center;}
.assembly{width: 100%;height: auto;overflow: scroll;position: absolute;top: 200rpx;bottom: 0;border-top: 1px solid #EAEAEA;}
.details_el text{padding: 10rpx 0;}
.active{background: #fd590d !important;color: white !important;}
.active1{border-bottom: 2px solid #f17205;}

.details{width: 100%;height: 700rpx;overflow: hidden;position: relative;}
.image_box,.details video{width: 100%;height: 80%;position: absolute;top: 0;left: 0;}
.image_box image{width: 100%;height: 100%;}
.swiper{height: 700rpx;width: 100%;}
.swiper-item{width: 100%;height: 700rpx;}
.btn_deta{width: auto;height: 60rpx;margin: 0 auto;position: absolute;bottom: 65rpx;left: 50%;transform: translateX(-50%);}
.btn_deta view{font-size: 0.8rem;padding: 5rpx 30rpx;background: rgba(225,225,225,0.8);color: #000000;width: auto;float: left;border-radius: 50rpx;margin: 0 30rpx;}
.active{background: #fd590d !important;color: white !important;}
.defect{width: 100%;height: auto;overflow: hidden;}
.defect image{width: 300rpx;height: 300rpx;margin: 100rpx auto 40rpx auto;display: block;}
.defect text{display: block;font-size: 0.9rem;color: #868686;text-align: center;width: 100%;font-weight: bold;}