.scra_box{width: 100%;position: absolute;top: 0;bottom: 0;left: 0;}
.scra_box image{display: block;position: absolute;}
.image_list1{top: 0;height: 100%;width: 100%;left: 0;}
.image_list2{top: 0%;height: 100%;width: 100%;left: 0;}
.image_list3{width: 19%;top: 10.8%;left: 23.5%;height: 9.7%;}
.image_list4{width: 19.2%;top: 10.8%;left: 42.4%;height: 9.7%;}
.image_list5{width: 18%;top: 10.8%;left: 59%;height: 9.7%;}
.image_list6{width: 70.5%;top: 19.1%;left: 17%;height: 7%;}
.image_list7{width: 70.5%;top: 19.4%;left: 18%;height: 7%;}
.scra_center{position: absolute;width: 85.5%;left: 7.3%;height: 20%;top: 30.5%;}
.scra_center>image{width: 100%;height: 100%;}
.center_el{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 30rpx 0;box-sizing: border-box;}
.scra_title{width: 100%;font-size: 0.9rem;font-weight: bold;color: #000000;text-align: center;}
.scra_title text{color: red;}
.scra_btn{width: 50%;color: white;background: red;font-size: 0.8rem;text-align: center;height: 60rpx;line-height: 60rpx;margin: 20rpx 25%;}
.scra_botm{width: 100%;font-size: 0.7rem;color: #666666;text-align: center;}
.scra_botm text{color: red;}
.prize{width: 90%;position: absolute;top: 52%;left: 5%;height: auto;box-sizing: border-box;}
.prize_title{width: 100%;font-size: 1.2rem;font-weight: bold;height: 100rpx;}
.prize_title>view:nth-of-type(1),.prize_title>view:nth-of-type(3){width: 33%;height: 100%;float: left;}
.prize_title>view:nth-of-type(1) view{width: 60%;height: 4rpx;background: #000000;margin: 48rpx 0 48rpx 40%;}
.prize_title>view:nth-of-type(3) view{width: 60%;height: 4rpx;background: #000000;margin: 48rpx 40% 48rpx 0;}
.prize_title>view:nth-of-type(2){width: 33%;text-align: center;line-height: 100rpx;height: 100rpx;float: left;}
.prize_center{width: 100%;height: 250rpx;overflow: hidden;border-radius: 10rpx;overflow: hidden;}
.prize_center image{width: 100%;height: 250rpx;}
.prize_el{position: absolute;top: 0;bottom: 0;width: 100%;background: rgba(0,0,0,0.5);}
.prize_tc{width: 80%;height: 450rpx;overflow: hidden;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.prize_tc image:first-child{width: 40rpx;height: 40rpx;position: absolute;right: 20rpx;top: 20rpx;}
.prize_tc image:nth-of-type(2){width: 100%;height: 100%;position: absolute;top:0;left: 0;}
.auth_data{width: 95%;margin: 20rpx 2.5%;background: white;border-radius: 10rpx;font-size: 0.8rem;height: 180rpx;overflow: hidden;line-height: 100rpx;padding: 40rpx 20rpx;box-sizing: border-box;}
.auth_data image{width: 100rpx;height: 100rpx;float: left;border-radius: 50%;}
.auth_data text:nth-of-type(1){float: left;margin-left: 20rpx;}
.auth_data text:nth-of-type(2){float: right;}

.user_image{width: 100%;position: relative;color: white;}
.user_image image{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.user_le{position: absolute;left: 0;width: 70%;height: 100%;padding: 60rpx 0 60rpx 40rpx;box-sizing: border-box;}
.user_le view:nth-of-type(1){font-size: 1.4rem;font-weight: bold;margin-bottom: 40rpx;}
.user_le view:nth-of-type(2){font-size: 0.6rem;}
.user_ri{position: absolute;right: 0;width: 30%;height: 100%;font-size: 0.9rem;font-weight: bold;line-height: 250rpx;text-align: center;}

.translatesUpDown{
    animation-name:translatesUpDown;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes translatesUpDown{
    0%,100%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,-20px,0);
    }
}

@-webkit-keyframes fadeInUpFZ {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpFZ {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpFZ {
  -webkit-animation-name: fadeInUpFZ;
  animation-name: fadeInUpFZ;
  -webkit-animation-fill-mode:both;
  -webkit-animation-iteration-count:infinite;
}
