.details{width: 100%;height: 700rpx;overflow: hidden;position: relative;}
.image_box,.details video{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.image_box image{width: 100%;height: 100%;}
.swiper{height: 700rpx;width: 100%;}
.swiper-item{width: 100%;height: 700rpx;}
.btn_deta{width: auto;height: 60rpx;margin: 0 auto;position: absolute;bottom: 40rpx;left: 50%;transform: translateX(-50%);}
.btn_deta view{font-size: 0.8rem;padding: 5rpx 30rpx;background: rgba(225,225,225,0.8);color: #000000;width: auto;float: left;border-radius: 50rpx;margin: 0 30rpx;}
.active{background: #fd590d !important;color: white !important;}
.introduce{width: 95%;height: auto;overflow: hidden;background: white;margin: 40rpx 2.5%;border-radius: 10rpx;box-shadow: 10rpx,10rpx,5rpx,#707070;}
.introduce>view{height: 80rpx;line-height: 80rpx;}
.introduce_el image{width: 30rpx;height: 30rpx;margin-right: 10rpx;margin-top: 25rpx;display: block;float: left;}
.introduce_el{width: 100%;font-size: 0.7rem;color: #707070;padding: 0rpx 40rpx;box-sizing: border-box;}
.introduce_el view:nth-of-type(1){font-size: 0.9rem;color: #000000;font: bold;float: left;}
.introduce_el view:nth-of-type(2){float: right;}
.introduce_ol image{width: 30rpx;height: 30rpx;margin-right: 10rpx;margin-top: 25rpx;display: block;float: left;}
.introduce_ol view{width: 50%;padding: 0rpx 10%;font-size: 0.7rem;color: #707070;float: left;box-sizing: border-box;}
.details_bt{position: fixed;bottom: 0;width: 100%;padding: 0 5%;box-sizing: border-box;background: white;height: 100rpx;font-size: 0.8rem;border-top: 1px solid #EAEAEA;}
.details_bt text{color: red;font-size: 0.9rem;margin: 0 5rpx;}
.details_bt>view{width: auto;float: left;}
.details_bt>view view{width: auto;float: left;height: 100%;line-height: 100rpx;margin-right: 40rpx;}
.details_bt>view:nth-of-type(2){float: right;border-radius: 20rpx; background: red;color: white;padding: 0 50rpx;height: 60rpx;margin: 20rpx;line-height: 60rpx;}
.details_bt>view:nth-of-type(1)>view:nth-of-type(2){font-size: 0.6rem;}
.details_bt>view:nth-of-type(1)>view:nth-of-type(1) text{font-size: 1.2rem !important;}
.comment{width: 95%;height: 80rpx;line-height: 80rpx;margin: 0 2.5%;background: white;padding: 0 40rpx;box-sizing: border-box;}
.comment view{font-size: 0.8rem;float: left;}
.comment view:nth-of-type(1) text{margin-left: 5rpx;}
.comment view:nth-of-type(2){float: right;}
.comment view:nth-of-type(2) text{margin-right: 5rpx;}
.comment view:nth-of-type(2) image{width: 20rpx;height: 20rpx;}
.recommend{width: 95%;height: auto;overflow: hidden;margin: 0 2.5%;background: white;}
.reco_title{font-size: 1rem;color: red;text-align: center;width: 100%;font-weight: bold;padding: 20rpx 0;}
.reco_title text{border-bottom: 2px solid #000000;padding: 10rpx 0;}

.commodity_list{width: 50%;height: auto;overflow: hidden;padding: 40rpx;box-sizing: border-box;float: left;position: relative;}
.commodity_list image{width: 100%;height: 300rpx;box-shadow: 1rpx 1rpx 10rpx #868686;border-radius: 20rpx;}
.commodity_list view:nth-of-type(1){font-size: 0.9rem;font-weight: bold;color: #000000;text-overflow:ellipsis;white-space: nowrap;}
.commodity_list view{font-size: 0.8rem;width: 100%;overflow: hidden;margin: 5rpx 0;}
.commodity_list view text{color: red;}
.commodity_list view text{font-size: 0.7rem;color: #707070;}
.commodity_list view text:nth-of-type(2){font-size: 0.6rem;color: #707070;text-decoration: line-through;margin-left: 20rpx;}
.quan{position: absolute;left: 7%;top: 280rpx;padding: 10rpx;background: #f17205;color: white;border-radius: 10rpx;display: block;font-size: 0.7rem;}